statemachine/scrap.asl.json
{
  "StartAt": "RetrieveSecret",
  "States": {
    "RetrieveSecret": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${RetrieveSecretsFunctionArn}"
      },
      "OutputPath": "$.Payload.body",
      "Next": "IterateUrls"
    },
    "IterateUrls": {
      "Type": "Map",
      "ItemsPath": "$.url_to_query_list",
      "Parameters": {
        "targetUrl.$": "$$.Map.Item.Value",
        "huge_json_data.$": "$.huge_json_data"
      },
      "Iterator": {
        "StartAt": "ProcessEachUrl",
        "States": {
          "ProcessEachUrl": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${ProcessUrlFunctionArn}",
              "Payload": {
                "url.$": "$.targetUrl",
                "huge_json_data.$": "$.huge_json_data"
              }
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.iteratorResult",
      "Next": "UploadToS3"
    },
    "UploadToS3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${UploadToS3FunctionArn}",
        "Payload": {
          "huge_json_data.$": "$.huge_json_data",
          "iteratorResult.$": "$.iteratorResult"
        }
      },
      "ResultPath": "$.uploadResult",
      "Next": "CheckForChanges"
    },
    "CheckForChanges": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.uploadResult.Payload.body.changesDetected",
          "BooleanEquals": true,
          "Next": "SendEmail"
        }
      ],
      "Default": "NoEmailNeeded"
    },
    "SendEmail": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SendEmailFunctionArn}",
        "Payload": {
          "Updated_List.$": "$.uploadResult.Payload.body.consolidated_data"
        }
      },
      "End": true
    },
    "NoEmailNeeded": {
      "Type": "Succeed"
    }
  }
}